<!-- <div class="card position-relative">
  <div class="card-body">
    <h4 class="card-title">Coupon Code</h4>

    <h5 class="card-text">SUMMERSALE10</h5>

    <p>Use this coupon Code for getting 10% Discount in your Purchase</p>

    <button (click)="saveCoupon('SUMMERSALE10')" class="btn btn-primary">
      Save Coupon
    </button>

    <button (click)="redirectToCart()" class="btn btn-secondary">Exit</button>
  </div>
</div>
 -->

<!-- <div class="container">
  <h1 class="mt-5">Coupon Page</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">10% Off</h5>
          <p class="card-text">
            Get 10% off on your next purchase. Use code: SUMMERSALE10
          </p>
          <button (click)="saveCoupon('SUMMERSALE10')" class="btn btn-primary">
            Get Coupon
          </button>

          <button (click)="redirectToCart()" class="btn btn-secondary">
            Exit
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <h1 class="mt-5">Coupon Page</h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">10% Off</h5>
          <p class="card-text">
            Get 10% off on your next purchase. Use code: SUMMERSALE10
          </p>
          <button
            (click)="saveCoupon('SUMMERSALE10')"
            class="btn btn-primary mr-2"
          >
            Get Coupon
          </button>

          <button (click)="redirectToCart()" class="btn btn-secondary">
            Exit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
